/*-- Hecho por Estiven Cuesta Mena Ingeniería 
de Sistemasen PROGRAMACION WEB  Grupo 52924  */


/* Estilos para el catálogo */

header{
    width: 100%;
}
.titulo-catalogo {
    text-align: center;
    padding: 2rem;
}

.titulo-catalogo h2 {
    
    font-size: 2.5rem;
    color: #dbccd2;
}

